<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Sternentautal Studieren{% endblock %}</title>
    <link rel="stylesheet" href="{{ calc_url('style.css') }}">
  </head>
  <body>
    <header>
      <a href="{{ calc_url('') }}">
        <h1>Sternentautal Studieren</h1>
        <p class="subtitle">Deutsch lernen mit Stardew Valley</p>
      </a>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>